@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wallet-adapter-button-trigger {
  background: transparent !important;
  border: 1px solid white  !important;
  border-radius: 9999px;
  height: 40px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
